.div_clear
{    
    width:100%;
    height:60px;
    }
.about_introduce
{
    width:100%;
    height:100%;
}
.about_head
{
    font-size:14pt;
    font-weight:bolder;
    }
.about_title
{
    width:100%;
    height:60px;
    margin-left:100px;
    font-weight:bolder;
    font-size:12pt;
    color:Black;
    text-align:left;
    }
.about_title_l
{
    width:100%;
    height:60px;
    margin-left:100px;
    font-size:12pt;
    color:Silver;
    text-align:left;
    }
.about_img
{
    width:70px;
    height:70px;
    margin-left:100px;
    margin-top:10px;
    float:left;
    }
.about_img img{
    width:60px;
    height:60px;
    border-radius:60px;
}
.about_evaluation
{
    width:1200px;
    height:260px;
    font-size:11pt;
    color:White;
    text-align:left;
    margin-left:180px;
    }
.about_comment
{
    width:1200px;
    margin-left:100px;
    margin-top:10px;
    font-size:10pt;
    float:left;
    }
.disqus_thread
{
    width:1200px;
    font-size:12pt;
    }
#disqus_thread iframe
{
    width:100%;
    }
.about_bottom
{
    width:1200px;
    height:60px;
    font-size:12pt;
    margin-left:100px;
    margin-top:auto;
    margin-right:auto;
    margin-bottom:30px;
    text-align:center;
    }