/*------------------------------------
* sext
*
* @author flyher
* @link https://github.com/flyher
* @update 2016-01-01
* 
* |/ | (~ (~
* |\.|._)._)
* --------------------------------- */

@media screen and (max-width:1024px) {
    header {
        width:100%;
        height:30px;
        float:left;
        text-align:center;
    }
    nav {
        width:100%;
        margin-left:0;
        margin-bottom: 20px;
    }
    nav span{
        width:90px;
        height:40px;
        line-height:30px;
        float:left;
        margin-right:10px;
    }

    #container {
        max-width:100%;
    }
    #post {
        max-width:100%;
        margin:30px auto auto auto;
    }
}
@media screen and (max-width:750px) {

}

@media screen and (max-width:600px) {
}
@media screen and (max-width:450px) {
}
@media screen and (max-width:320px) {
}